@{
    ViewBag.Title = "Home Page";
}
<style>
    img {
        max-height: 200px;
    }

    .img-responsive {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin-top: 50px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 text-center robot-img" data-robotname="HAL">
            <img class="img-responsive" src="~/Content/Images/HAL.png" />
        </div>
        <div class="col-md-4 text-center robot-img" data-robotname="R2D2">
            <img class="img-responsive" src="~/Content/Images/R2D2.png" />
        </div>
        <div class="col-md-4 text-center robot-img" data-robotname="RJD2">
            <img class="img-responsive" src="~/Content/Images/RJD2.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 text-center">
            <progress value="0" max="100" data-robotname="HAL" />
        </div>
        <div class="col-md-4 text-center">
            <progress value="0" max="100" data-robotname="R2D2" />
        </div>
        <div class="col-md-4 text-center">
            <progress value="0" max="100" data-robotname="RJD2" />
        </div>
    </div>
    <div class="col-md-12" style="height: 150px;">
        <div class="col-md-4 text-center">
            <img class="charge" src="/Content/images/recharger.png" data-robotname="HAL" />
        </div>
        <div class="col-md-4 text-center">
            <img class="charge" src="/Content/images/recharger.png" data-robotname="R2D2" />
        </div>
        <div class="col-md-4 text-center">
            <img class="charge" src="/Content/images/recharger.png" data-robotname="RJD2" />
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.charge').hide();

            var con = $.hubConnection();
            var hub = con.createHubProxy('robotStatusHub');

            hub.on('receivedRobotChargeUpdate', function (robotName, charge) {
                console.log('receivedRobotChargeUpdate');
                $('progress[data-robotname="' + robotName + '"]').val(charge);
                console.log('progress[data-robotname="' + robotName + '"] should have a value of ' + charge);
                $('.charge[data-robotname="' + robotName + '"]').fadeOut();
            });

            hub.on('rechargerRobotMovedToRobot', function (robotName) {
                console.log('going to charge ' + robotName)
                $('.charge[data-robotname!="' + robotName + '"]').fadeOut();
                $('.charge[data-robotname="' + robotName + '"]').fadeIn();
            });

            con.start();
        });
    </script>
}